[alias]
dev = [
    "watch",

    "-x",
    "llvm-cov clean --workspace",

    "-x",
    "fmt",

    "-x",
    "clippy --package oxiplate-derive",

    "-x",
    "llvm-cov --no-report --package oxiplate-derive",

    "-x",
    "clippy --package oxiplate-test-fast-escape-type-priority",

    "-x",
    "llvm-cov --no-report --package oxiplate-test-fast-escape-type-priority",

    "-x",
    "clippy --package oxiplate-test-slow-escape-ints",

    "-x",
    "llvm-cov --no-report --package oxiplate-test-slow-escape-ints",

    "-x",
    "clippy --workspace --exclude oxiplate-derive --exclude oxiplate-test-fast-escape-type-priority --exclude oxiplate-test-slow-escape-ints",

    "-x",
    "llvm-cov --no-report --workspace --exclude oxiplate-derive --exclude oxiplate-test-fast-escape-type-priority --exclude oxiplate-test-slow-escape-ints",

    "-x",
    "llvm-cov report --html",

    "-x",
    "llvm-cov report --lcov --output-path target/llvm-cov/lcov.info",

    "-x",
    "expansion-tests",

    "-x",
    "doc --lib",
]
expansion-tests = "test --test expansion -- --ignored"
